.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button, .App-button--clear {
  padding: 10px;
  margin: 10px;
  font-size: 1.1rem;
  background-color: #61DAFB;
  border: none;
  transition: .2s;
  border-radius: 5px;
}

.App-button--clear {
  padding: 3px 30px;
  background-color: rgb(172, 12, 12);
  color: white;
  position: relative;
}

.App-button:hover, .form-input--submit:hover, .App-button--clear:hover {
  border-radius: 14px;
  cursor: pointer;
}

.button-link {
  text-decoration: none;
  color: black;
}

.App-alert {
  color: red;
  font-size: 1.1rem;
}

.form-input--answer, .form-input--submit {
  font-size: 1rem;
  padding: 10px;
  margin: 10px;
  border: none;
  outline: none;
  transition: .2s;
}

.form-input--answer {
  background-color: #c0e9f5;
  border-radius: 10px;
}

.form-input--submit {
  background-color: #61DAFB;
  border-radius: 5px;
}

.App-item {
  list-style: none;
  font-size: 1.6rem;
  background-color: #55727a;
  margin: 10px;
  border-radius: 10px;
  transition: .2s;
}

.App-item:hover {
  background-color: #61DAFB;
}

.App-list {
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 400px) {
  .App-header {
    background-color: #2ecc71;
  }

  .App-button {
    background-color: #f1c40f;
  }
  
  .form-input--submit {
    background-color: #e67e22;
    color: white
  }

  .form-input--answer {
    background-color: #f3e2d3;
  }
}

@media (min-width: 1000px) {
  .App-header {
    background-color: #ffda79;
  }

  .App-button {
    background-color: #f7f1e3;
  }
  
  .form-input--submit {
    background-color: #62ce41;
    color: white;
  }

  .App-button, .form-input--submit, .App-button--clear {
    box-shadow: 3px 3px 1px 1px #218c74;
  }

  .form-input--answer {
    background-color: #ebeab8;
  }

  .App-button:hover, .form-input--submit:hover, .App-button--clear:hover {
    box-shadow: 3px 3px 8px 1px #218c74;
  }
}